{% extends "main/index.html" %}
{% load static %}


{% block content %}
<!----------------------------------Первая страница (русская)------------------------------------------------------------------>
    <div id="page1">
        <div id="page1_container">
            <div id="page1_text">
                <h1 class="russian_paragraph">ПРАВЕДНЫЙ ГНЕВ – только честные и правдивые отзывы</h1>
                <!--Русский текст-->
                <p class="russian_paragraph">Помните, когда в последний раз вы столкнулись с несправедливостью в отношении себя, как потребителя товара или услуги?
                Возможно, вам нахамил очередной продавец, или, отстояв очередь в поликлинике, вы так и не смогли получить квалифицированную помощь
                в решении вашей проблемы. А, может, вы стали жертвой мошенников или заплатили немалую сумму денег за долгожданный отдых тур агентству,
                а отпуск так и не состоялся! Таких историй из вашей жизни и опыта других людей можно привести еще очень много.</p>
                <p class="russian_paragraph">Если вас несправедливо уволил работодатель, вы получили товар или услугу ненадлежащего качества, столкнулись с невниманием или
                открытым мошенничеством, не замалчивайте такие ситуации – поделитесь своим ПРАВЕДНЫМ ГНЕВОМ с другими людьми!</p>
                <p class="russian_paragraph">И сделать это можно на нашем независимом новом сайте отзывов, где можно анонимно пожаловаться на мошенников и недобросовестных
                представителей разных сфер деятельности. У нас нет цели составить черный список работодателей, врачей, застройщиков,
                автосервисов, магазинов, турфирм и т.д., наша задача, предоставить людям возможность размещать свои честные отзывы,
                служащие другим людям предостережением, а тем, на кого обращён ПРАВЕДНЫЙ ГНЕВ, принять надлежащие меры с целью улучшения
                качества обслуживания, уровня сервиса, развития навыков у сотрудников и повышения эффективности их работы.</p>
                <p class="russian_paragraph">Конечно же, часть ответственности за попадание в неприятную ситуацию лежит и на вас.
                Ведь перед тем, как воспользоваться какой-то услугой или купить товар, нужно собрать всю необходимую информацию о компании или
                производителе. Это касается и найма сотрудников и трудоустройства – сегодня на специализированных ресурсах можно найти рассказы
                сотрудников о работе в данной компании или отзывы работодателей о работнике.</p>
                <p class="russian_paragraph">Однако вспомните, сколько негативных отзывов вы встречали в интернете? Если многие компании
                отклики покупателей расценивают как эффективный способ продвижения своих товаров и услуг, будут ли они размещать гневный или
                негативный отзыв на своей странице?</p>
                <p class="russian_paragraph">Согласно последним маркетинговым исследованиям уровень доверия клиентов к отзывам реальных
                потребителей в 12 раз больше, чем к официальной информации от самих производителей. А верите ли вы положительным отзывам?
                Уверены, что да! Ведь такой комментарий воспринимается как дельный совет собственного друга. Вот почему положительные
                комментарии на сайтах и форумах только приветствуются, а негативные – незамедлительно отправляются в бан и просто не
                проходят модерацию.</p>
                <p class="russian_paragraph">Но что делать тем покупателям или пользователям услуг, чьи ожидания не были оправданы? Где
                оставить свой негативный отзыв? Куда пожаловаться на мошенников, если вас обманули или продали некачественный товар?</p>
                <p class="russian_paragraph">Выход есть – сайт ПРАВЕДНЫЙ ГНЕВ! Оставляйте на нём свои честные отзывы о недобросовестных
                компаниях! ПРАВЕДНЫЙ ГНЕВ – это независимый сайт отзывов, раскрывающий всю правду, которую другие «неподкупные» сайты,
                специализирующиеся на отзывах, скрывают за хвалебными заказными обзорами.</p>
                <h2 class="russian_paragraph">Как оставить свой отзыв и комментарий на нашем сайте</h2>
                <p class="russian_paragraph">Благодаря нашему сайту, ПРАВЕДНЫЙ ГНЕВ людей приобретает денежное наполнение, а вместе с ним
                возникает доверие и ответственность. Почему стоимость размещения гневного комментария платная? Все очень просто – в гневе
                человек редко бывает объективным и не может справедливо оценить ситуацию. Однако, если он заплатил за публикацию своего отзыва,
                значит, эта информации «того стоит» и она поможет другим избежать подобных ситуаций.</p>
                <p class="russian_paragraph">При этом, чем больше ваш ГНЕВ, тем выше стоимость отзыва. Автор сам устанавливает стоимость
                ПРАВЕДНОГО ГНЕВА и оплачивает эту стоимость за размещение своего отзыва.</p>
                <p class="russian_paragraph">Будьте рассудительны и объективны. Наш ресурс – это не место для выяснений отношений и негатива
                ради негатива. Здесь затрагиваются самые острые темы и размещаются только справедливые отрицательные отзывы. Где как не на
                нашем новом сайте отзывов вы можете найти горькую правду о садиках и поликлиниках, роддомах и отелях, ресторанах и кафе?
                Вместе с вами и вашими честными и правдивыми историями мы создаём лучший сайт отзывов в интернете.</p>
                <h2 class="russian_paragraph">Можно ли удалить ПРАВЕДНЫЙ ГНЕВ с сайта?</h2>
                <p class="russian_paragraph">Да, вы можете удалить негативный комментарий с нашего ресурса. Стоимость удаления составляет
                пятикратную сумму от установленной и оплаченной автором ПРАВЕДНОГО ГНЕВА.</p>
                <p class="russian_paragraph">Также на сайте есть возможность опубликовать опровержение. Стоимость размещения ОПРОВЕРЖЕНИЯ
                равна стоимости оплаченной автором ПРАВЕДНОГО ГНЕВА за его размещение.</p>
                <p class="russian_paragraph">На сайте установлен минимальный порог стоимости «ПРАВЕДНОГО ГНЕВА» - 100 руб.</p>
                <p class="russian_paragraph">Если Вы не готовы заплатить эту минимальную сумму, значит ваша информация и ваш ГНЕВ «не стоит
                и 100 рублей», а значит на этом сайте ему не место.</p>
                <p class="russian_paragraph">На сайте не предусмотрена регистрация, вы можете написать отзыв анонимно.  Поэтому, нет
                возможности редактировать свои отзывы после их написания, а удалить их можно только на «общих» основаниях, оплатив пяти
                кратную стоимость, установленную и оплаченную автором при его размещении.</p>
                <p class="russian_paragraph">Помните, Ваш ПРАВЕДНЫЙ ГНЕВ стоит репутации и денег тому, на кого он обращён! Поэтому будьте
                объективны и ответственны!</p>
                <p class="russian_paragraph">Вот почему к негативным отзывам в интернете, оставленным на нашем сайте прислушиваются.
                Ведь именно авторы ПРАВЕДНОГО ГНЕВА платят за размещение своих отзывов, а значит, их информация, их мнение заслуживают доверия.</p>
                <p class="russian_paragraph">ПРАВЕДНЫЙ ГНЕВ – это новый независимый сайт, не нуждающийся в рекламодателях и не оказывающий
                платные услуги за рамками условий и правил, установленных на сайте.</p>
                <p class="russian_paragraph">И главное наше правило – никакой политики! Любые споры, пропаганда, оценка работы правительства и
                чиновников удаляются администрацией сайта без предупреждений и возвращения денежных средств.</p>
                <p class="russian_paragraph">Также на нашем сайте не место отзывам, несущим оскорбительный, вульгарный и бессодержательный
                характер. Все подобные комментарии также будут удалены без компенсации стоимости ГНЕВА. Пишите только правду, а не возводите
                клевету! Свои тексты подкрепляйте фотоматериалами и другими фактами.</p>

                <div class="dd-scroll"></div>
                <!--Английский текст-->
                <p class="english_paragraph">The Internet is full of fake reports and reviews that are written by commercial and business rivals. All too often facts are buried under a mass of controversial comments and information.</p>
                <p class="english_paragraph">Through our site people’s RIGHTEOUS ANGER gets monetization and also acquires a sense of trust and responsibility.
                    If a person has paid for posting their RIGHTEOUS ANGER then the information is trustworthy and one would better take notice of it.
                    </p>
                <p class="english_paragraph">Also, the site has an option to post a rebuttal on RIGHTEOUS ANGER.</p>
                <p class="english_paragraph">The price of the rebuttal is the same as for RIGHTEOUS ANGER.</p>
                <p class="english_paragraph">You can delete your RIGHTEOUS ANGER if you wish.</p>
                <p class="english_paragraph">To delete you have to pay five times the price of the original RIGHTEOUS ANGER post.</p>
                <p class="english_paragraph">Remember that the object of your RIGHTEOUS ANGER will suffer loss of money and reputation.</p>
                <p class="english_paragraph">The minimum price for posting RIGHTEOUS ANGER on the site is $1.6</p>
                <p class="english_paragraph">If you are not ready to pay this amount then your information and ANGER is not worth it and has no place on this site.</p>
                <p class="english_paragraph">Even in the RIGHTEOUS ANGER one should not attempt to infringe on someone’s personal rights and dignity.
                    Do not insult anyone, write facts only, and add photos to prove your point.
                    </p>
                <p class="english_paragraph">The site administration reserves the right to remove without explanation and refund texts which are vulgar, meaningless or insulting the honor and dignity of people.</p>
                <p class="english_paragraph">The site does not serve as an arena for political activity, agitation and propaganda.</p>
                <p class="english_paragraph">RIGHTEOUS ANGER against the state and government officials will be removed without return of money paid.</p>
                <p class="english_paragraph">For your wishes, feedback and complaints use following e-mail address:<ins class="mail-color">pravedgnev@protonmail.com</ins></p>
                <!--Немецкий текст-->
                <p class="german_paragraph">Das Internet ist voll von auf Bestellung von Konkurrenten geschriebenen betrügerischen Kommentaren und Bewertungen.
                        Richtige, glaubwürdige Informationen sind in so einer Menge widersprüchlicher Meinungen kaum zu erkennen. </p>
                <p class="german_paragraph">Dank unserer Website wird GERECHTER ZORN mit Geld gestützt, so dass es Vertrauen und Verantwortung entstehen.
                    Wenn es von einem Menschen für die Veröffentlichung des GERECHTEN ZORNS bezahlt wurde, bedeutet das, dass es sich
                    wirklich lohnt, auf diese Informationen aufmerksam zu sein. </p>
                <p class="german_paragraph">Diese Seite bietet auch die Möglichkeit, einen veröffentlichten GERECHTEN ZORN zu widerrufen.</p>
                <p class="german_paragraph">So viel ein Autor für die Veröffentlichung seines GERECHTEN ZORNS bezahlt hat, genauso viel wird die
                    Veröffentlichung von dessen Widerrufung kosten. </p>
                <p class="german_paragraph">GERECHTER ZORN kann aus der Website gelöscht werden.</p>
                <p class="german_paragraph">Das Löschen von GERECHTEN ZORNS kostet das Fünffache des Betrags, den dessen Autor für die Veröffentlichung
                    festgestellt und bezahlt hat.</p>
                <p class="german_paragraph">Denken Sie daran, dass Ihr GERECHTER ZORN den Ruf und das Geld seinem Adressaten kostet!</p>
                <p class="german_paragraph">Der Mindestpreis eines "GERECHTEN ZORNS" beträgt 1,4 Euro.</p>
                <p class="german_paragraph">Sollten Sie nicht bereit sein, diesen Mindestbetrag zu zahlen, bedeutet das, dass Ihre Informationen und
                    Ihr ZORN "nicht sogar 1,4 Euro wert ist", so dass auf dieser Seite er nichts zu suchen hat. </p>
                <p class="german_paragraph">Denken Sie daran, dass auch GERECHTER ZORN Ihnen kein Recht darauf gibt, die Ehre und Würde anderer
                    Menschen zu missachten. Man muss hier nicht beleidigen, sondern die richtige Wahrheit schreiben und diese
                    mit Fotos als Beweis erhärten.</p>
                <p class="german_paragraph">Die Verwaltung der Website behält sich das Recht vor, gemeine, sinnlose und beleidigende Texte, die die
                    Ehre und Würde anderer Menschen verletzen, ohne Begründung und Rückerstattung zu löschen.</p>
                <p class="german_paragraph">Die Website ist kein richtiger Ort für politische Aktivitäten, Agitations- und Propagandatätigkeit.</p>
                <p class="german_paragraph">Der an den Staat, Staatsbeamte und Politiker gerichtete GERECHTE ZORN wird ohne Begründung und
                    Rückerstattung gelöscht.</p>
                <p class="german_paragraph">Ihre Wünsche, Kommentare und Ansprüche können Sie uns an folgende E-Mail-Adresse zukommen lassen:<ins class="mail-color">pravedgnev@protonmail.com</ins></p>
                <p class="all_paragraph"><br /></p>
            </div>
        </div>
    </div>
{% endblock%}