{% extends 'main/index.html' %}
{% load thumbnail %}
{% load static %}

{% block content %}

       <div id="main-view" class="main-view">
            {% for img in img_set %}
<!--                <img class="all-images" src="{% thumbnail img.image 'default' %}">-->
                    <img width="1" height="1" class="all-images" src="{{ img.image.url }}">
            {% endfor %}
            <div id="view-big--photo" class="view-big--photo"><img src="{% static 'images/close.png' %}" alt="" id="close_button" class="close_button"></div>
            <div id="main-anger" class="main-anger">
                <div id="view-header" class="view-header">
                    <div id="translate" class="translate">Переводчик</div>
                    <h3 id="header4" class="header4">ПРАВЕДНЫЙ ГНЕВ</h3>
                    <div id="container-pict1" class="container-pict1">
                        <div class="sharetastic sharetastic--simple"></div>
                        <img src="{% static 'images/mail3.jpg' %}" id="pic-mail" class="pic-mail" alt="Электронная почта">
                    </div>
                </div>
                <div id="block-review4" class="block-review4">
                    <p id="block-review4--dop" class="block-review4--dop">
                        <span class="block_review{{rev.price}} test_hight block_review_line">
                            <span class="span_prom"></span>
                            <span class="span_price" id="spanPrices">Оплачено за размещение {{ rev.price }} руб.</span>
                            <span class="span_name" id="targetName">{{ rev.title }}</span><span class="span_prom2"></span>
                        </span>
                    </p>
                </div>
                <div id="spis-container" class="spis-container">
                    <form class="form_input" name="form3">
                        <textarea name="auth_msg3" id="user_rebuttal3" maxlength="25000" readonly autofocus class="user_rebuttal">{{ rev.content }}</textarea><br>
                    </form>
                </div>
            </div>
            <div class="elements-container6">

                {% if rev.rebuttal_set.all %}
                <div class="punch place-position non-review" id="place">
                    <div class="punch read-position" id="read">
                        <a class="punch_button" id="read_dop" href="{% url 'ReviewApp:get_rebuttals_list' pk=rev.pk %}">ЧИТАТЬ ОПРОВЕРЖЕНИЕ</a>
                    </div>
                </div>
                {% else %}
                <div class="punch place-position">
                    <div class="punch read-position" id="read">
                        <a class="none_button" id="read_dop">ЧИТАТЬ ОПРОВЕРЖЕНИЕ</a>
                    </div>
                </div>
                {% endif %}
                <div class="photo_main">
                    <div class="wrapper1" id="wrapper_left"><span>◀</span></div>
                    <div class="photo1_dop">
                        <div class="photo" id="photo1"><span class="text-photo">ФОТО</span></div>
                        <div class="photo" id="photo2"><span class="text-photo">ФОТО</span></div>
                        <div class="photo" id="photo3"><span class="text-photo">ФОТО</span></div>
                        <div class="photo" id="photo4"><span class="text-photo">ФОТО</span></div>
                    </div>
                    <div class="wrapper1" id="wrapper_right"><span>▶</span></div>
                </div>
                {% if user.pk != rev.author.pk %}
                <div class="punch place-position non-review" id="place">
                    <a class="punch_button" id="place_dop" href="{% url 'ReviewApp:add_rebuttal' pk=rev.pk %}">РАЗМЕСТИТЬ ОПРОВЕРЖЕНИЕ</a>
                    <!--{% url 'ReviewApp:add_rebuttal' pk=rev.pk %}-->
                    <!--<a class="punch_button" href="{% url 'ReviewApp:delete_review' pk=rev.pk %}">УДАЛИТЬ</a>-->
                </div>
                {% else %}
                <div class="punch place-position">
                    <a class="none_button" id="place_dop">РАЗМЕСТИТЬ ОПРОВЕРЖЕНИЕ</a>
                    <!--<a class="punch_button" href="{% url 'ReviewApp:delete_review' pk=rev.pk %}">УДАЛИТЬ</a>-->
                </div>
                {% endif %}
            </div>
        </div>
        <div class="punch ret-position" id="ret2">
            <a class="punch_button" id="ret_dop2">Назад</a>
        </div>
{% endblock %}