body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: url(../images/zast.png) repeat;
  overflow-y: scroll;
}
@media (max-width: 1920px) {
  html,
  body {
    font-size: 16px;
  }
}
@media (max-width: 1400px) {
  html,
  body {
    font-size: 14px;
  }
}
@media (max-width: 1280px) {
  html,
  body {
    font-size: 12px;
  }
}
@media (max-width: 1024px) {
  html,
  body {
    font-size: 10px;
  }
}
@media (max-width: 800px) {
  html,
  body {
    font-size: 9px;
  }
  #button1_text__line2 {
    font-size: 1.3rem;
  }
}
@media (max-width: 640px) {
  html,
  body {
    font-size: 8px;
  }
}
@media (max-width: 480px) {
  html,
  body {
    font-size: 7px;
  }
}
@media (max-width: 360px) {
  html,
  body {
    font-size: 6px;
  }
}
@media (max-width: 240px) {
  html,
  body {
    font-size: 5px;
  }
}
/*------------------------------------*\
	Выбор языков
\*------------------------------------*/
#main_list__languages {
  position: absolute;
  left: -1.58vw;
  top: 0.37vw;
  list-style: none;
  opacity: 1;
}
#change_language,
.selected_language__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
  width: 7.3vw;
  height: 1.4vw;
  padding: 0 0.26vw;
  border-radius: none;
}
#change_language {
  border: 0px solid #c0c0c0;
  box-shadow: 0px 0px 0px 0px white;
}
.flag_picture {
  width: 1.15vw;
  height: 1.15vw;
}
#arrow {
  width: 0.52vw;
  height: 0.52vw;
}
#main_list__languages:hover {
  cursor: pointer;
}
#main_list__languages:hover #list_languages__down {
  left: 0;
}
#main_list__languages li {
  float: left;
  text-decoration: none;
  display: block;
}
#main_list__languages li a {
  display: block;
  background-color: white;
  color: black;
  font-family: ArialMT;
  font-size: 0.75rem;
  text-decoration: none;
  padding: 0.31vw;
  text-shadow: 0px 0px 0px black;
}
/*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/
#main_list__languages ul {
  list-style: none;
  position: absolute;
  left: -9999px;
  /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
  transition: 0.25s linear opacity;
  /* В Webkit выпадающие пункты будут проявляться */
}
#main_list__languages ul li {
  float: none;
}
#main_list__languages ul a {
  white-space: nowrap;
  /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
  display: block;
}
#select_language__name {
  width: 70%;
  height: 0.78vw;
}
#list_languages__down li div:hover {
  background-color: #eeeeee;
}
#list_languages__down li div:hover .language_name__color {
  background-color: #eeeeee;
}
/****************Основные кнопки**********************************************/
/*Главные кнопки*/
#main_buttons__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  opacity: 1;
  margin: 2.6vw auto 0;
  z-index: 1000;
  width: 79vw;
}
.container_button {
  position: relative;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.04vw;
  width: 18.49vw;
  height: 4.43vw;
}
.push_button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.21vw 0.78vw 0.37vw 0.78vw;
  color: black;
  text-align: center;
  font-family: ArialMT;
  font-style: normal;
  text-decoration: none;
  text-shadow: none;
  border-radius: 1.04vw;
  border-top: 0.05vw solid rgba(0, 0, 0, 0.001);
  border: 0.05vw solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0.52vw rgba(0, 0, 0, 0.35), 0px 0.05vw 0.16vw rgba(0, 0, 0, 0.18), inset 0px -0.16vw 0px rgba(0, 0, 0, 0.35), inset 0px 0.73vw 0.73vw rgba(255, 255, 255, 0.1);
  cursor: pointer;
  background-image: linear-gradient(180deg, #9b9b9b 0%, #ffffff 100%);
  opacity: 1;
  user-select: none;
  width: 16.4vw;
  height: 3.39vw;
  font-size: 1.375rem;
}
.push_button:hover {
  box-shadow: 0 0 0.52vw rgba(0, 0, 0, 0.35), 0px 0.05vw 0.16vw rgba(0, 0, 0, 0.18), inset 0px -0.16vw 0px rgba(0, 0, 0, 0.35), inset 0px 0.73vw 0.73vw rgba(255, 255, 255, 0.25);
  animation: glow 1s infinite ease-in-out;
  cursor: pointer;
}
.push_button:active {
  padding: 0.3vw 0.78vw 0.26vw 0.78vw;
  border-top: 0.05vw solid rgba(0, 0, 0, 0.55);
  box-shadow: 0 0 0.52vw rgba(0, 0, 0, 0.35), 0px 0.1vw 0.05vw rgba(255, 255, 255, 0.5), inset 0px 0.05vw 0.21vw rgba(0, 0, 0, 0.35), inset 0px -0.73vw 0.73vw rgba(255, 255, 255, 0.1);
  animation: none;
  cursor: pointer !important;
}
/*Кнопки ВХОД и РЕГИСТРАЦИЯ*/
.main-poz1 {
  position: absolute;
  width: 9.5vw;
  height: 2.917vw;
  right: 1.9vw;
}
.main-poz1--button {
  font-size: 0.85rem;
  width: 7.539vw;
  height: 1.95vw;
}
#container_enter,
#container_profile {
  top: 0.7vw;
}
#container_registration,
#container_exit {
  top: 4.1vw;
}
/*Четыре основные кнопки личного кабинета*/
#main-profile-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  opacity: 1;
  margin: 1vw auto 0;
  z-index: 1000;
  width: 71vw;
}
#main-profile-buttons .profile-poz {
  width: 15.49vw;
  height: 3.43vw;
}
#main-profile-buttons .profile-poz--buttons {
  font-size: 0.85rem;
  width: 13.4vw;
  height: 2.39vw;
}
/*Две боковые кнопки личного кабинета*/
.profile-poz2 {
  position: absolute;
  width: 11.5vw;
  height: 3.917vw;
  right: 0.9vw;
}
.profile-poz2--buttons {
  font-size: 0.85rem;
  width: 9.539vw;
  height: 2.95vw;
}
#profile-container-but5 {
  top: 12.7vw;
}
#profile-container-but6 {
  top: 18.1vw;
}
/*Основной экран личного кабинета*/
.main-profile-window {
  position: relative;
  margin: 0 auto;
  padding-top: 0.05vw;
  background: rgba(223, 223, 223, 0.9);
  top: 1vw;
  color: black;
  width: 71vw;
  height: 32vw;
  font-size: 1rem;
  z-index: 1;
  font-family: ArialMT;
  line-height: 1.09vw;
  text-indent: 0;
  user-select: none;
}
.main-profile-window:hover {
  cursor: default;
}
.main-profile-window h2 {
  margin-left: 2.8vw;
  font-size: 1.5rem;
  color: black;
  font-weight: normal;
}
.main-profile-window hr {
  width: 100%;
  color: black;
  border: 0.05vw solid black;
}
/*Первая страница - о сайте*/
#page1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 2.55vw;
  color: black;
  width: 62.5vw;
  height: 33.44vw;
  border: 0px solid #000000;
  border-radius: 2.87vw 3.9vw 3.9vw 2.87vw;
  font-size: 1rem;
  margin: 0 auto;
  z-index: 1;
  background: rgba(223, 223, 223, 0);
}
#page1:hover {
  cursor: default;
}
#page1_container {
  width: 62.5vw;
  height: 33.44vw;
  font-family: 'ArialMT';
  font-size: 1rem;
  line-height: 1.09vw;
  margin: 0;
  padding: 0;
  position: relative;
  background: rgba(223, 223, 223, 0);
  z-index: 0;
}
#page1_text {
  color: #000000;
  text-align: justify;
  width: 62.5vw;
  text-indent: 0;
  user-select: none;
  z-index: 200;
  box-sizing: border-box;
  border-radius: 2.87vw 3.9vw 3.9vw 2.87vw;
  -moz-border-radius: 2.87vw 3.9vw 3.9vw 2.87vw;
  background: rgba(223, 223, 223, 0);
}
#page1_text p,
#page1_text h1,
#page1_text h2 {
  display: block;
  background: rgba(223, 223, 223, 0.9);
  font-size: 1rem;
  line-height: 1.04vw;
  margin: 0;
  padding: 0.78vw 3.13vw 0px 3.39vw;
}
#page1_text h1 {
  font-size: 1.25rem;
}
#page1_text h2 {
  font-size: 1.125rem;
}
.mail-color {
  color: #2914eb;
}
.scrollbar-container--position1 {
  position: absolute;
  z-index: 9999;
  top: -0.25vw;
  right: 0vw;
}
.buttonclick {
  background-color: #bbb;
}
/**************************************************************************************/
/******************************Экран вывод отзывов*************************************/
.page2_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 2.08vw;
  color: black;
  width: 78.96vw;
  height: 34.48vw;
  border: 0px solid #000000;
  font-size: 1rem;
  margin: 0 auto;
  padding: 0;
  z-index: 1;
}
.text2_1 {
  width: 78.96vw;
  height: 33.44vw;
  overflow: hidden;
  font-family: 'ArialMT';
  font-size: 0.9375rem;
  line-height: 1.09vw;
  margin: 0;
  padding: 0;
  position: relative;
  left: 0px;
  border-radius: 2.87vw;
}
.span_name:hover {
  cursor: pointer;
}
.text_page_2_1 {
  padding: 0;
  width: 100%;
  line-height: 2.08vw;
  color: #000000;
  text-align: justify;
  text-indent: 0;
  text-shadow: 0px 0px 0px #000000;
  user-select: none;
  z-index: 200;
}
.text_page_2_1 span {
  display: block;
}
.block_review_line {
  width: 100%;
  border-bottom: 1px solid white;
  color: white;
  height: 6.51vw;
}
.block_review10000 {
  background-image: linear-gradient(180deg, #7030a0 0%, #7a34ad 100%);
  opacity: 1;
}
.block_review5000 {
  background-color: #cc1139;
  background-image: linear-gradient(180deg, #7a34ad 0%, #a50132 100%);
  opacity: 1;
}
.block_review3000 {
  background-color: #f51802;
  background-image: linear-gradient(180deg, #ab186c 0%, #d61239 100%);
  opacity: 1;
}
.block_review2000 {
  background-color: #dd4602;
  background-image: linear-gradient(180deg, #da0545 0%, #ff0000 100%);
  opacity: 1;
}
.block_review1000 {
  background-color: #e79a30;
  background-image: linear-gradient(180deg, #ff0000 0%, #fb4f04 100%);
  opacity: 0.9;
}
.block_review500 {
  background-color: #b17704;
  background-image: linear-gradient(180deg, #fb4f04 0%, #a75503 100%);
  opacity: 0.9;
}
.block_review300 {
  background-color: #a77a04;
  background-image: linear-gradient(180deg, #e87604 0%, #e47a2c 100%);
  opacity: 0.9;
}
.block_review100 {
  background-color: #8c8404;
  background-image: linear-gradient(180deg, #e47a2c 0%, #c9a71d 100%);
  opacity: 0.9;
}
.span_prom {
  height: 0.52vw;
}
.span_prom2 {
  height: 0.05vw;
}
.span_price {
  border: 0.05vw solid white;
  width: 15.6vw;
  position: relative;
  margin-left: 31.51vw;
  border-radius: 0.52vw;
  text-align: center;
}
.span_name {
  margin: 1.04vw 1.56vw 0 1.56vw;
  line-height: 1.3vw;
  padding: 0;
}
.scrollbar-container--position2 {
  position: absolute;
  z-index: 9999;
  top: -0.25vw;
  right: 0.5vw;
}
.none_review {
  width: 100%;
  height: 10.42vw;
  font-size: 1.5rem;
  color: red;
  text-align: center;
  margin-top: 10.42vw;
}
/******************************Экран вывод отзывов*************************************/
.all-images {
  position: absolute;
  left: -9999px;
}
.punch {
  display: flex;
  position: relative;
  width: 6.82vw;
  height: 2.8vw;
  background: #f5f5f5;
  align-items: center;
  justify-content: center;
  border-radius: 0.52vw;
  margin: 0 auto;
  z-index: 2000;
}
.punch_button {
  display: flex;
  width: 4.84vw;
  height: 1.82vw;
  font-size: 1.125rem;
  padding: 0.21vw 0.78vw 0.37vw 0.78vw;
  color: black;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'ArialMT';
  font-style: normal;
  font-smoothing: antialiased;
  text-decoration: none;
  /*    text-shadow: 0 -1px 1px rgba(0,0,0,0.50);*/
  text-shadow: none;
  outline: none;
  border-radius: 0.52vw;
  border-top: 0.05vw solid rgba(0, 0, 0, 0.001);
  border: 0.05vw solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0.52vw rgba(0, 0, 0, 0.35), 0px 0.05vw 0.16vw rgba(0, 0, 0, 0.18), inset 0px -0.16vw 0px rgba(0, 0, 0, 0.35), inset 0px 0.73vw 0.73vw rgba(255, 255, 255, 0.1);
  cursor: pointer;
  background-image: linear-gradient(180deg, #c0c0c0 0%, #ffffff 100%);
  opacity: 1;
  user-select: none;
}
.punch_button:hover {
  box-shadow: 0 0 0.52vw rgba(0, 0, 0, 0.35), 0px 0.05vw 0.16vw rgba(0, 0, 0, 0.18), inset 0px -0.16vw 0px rgba(0, 0, 0, 0.35), inset 0px 0.73vw 0.73vw rgba(255, 255, 255, 0.25);
  -webkit-animation: glow 1s infinite ease-in-out;
  cursor: pointer;
}
.punch_button:active {
  padding: 0.31vw 0.78vw 0.26vw 0.78vw;
  border-top: 0.05vw solid rgba(0, 0, 0, 0.55);
  box-shadow: 0 0 0.52vw rgba(0, 0, 0, 0.35), 0px 0.1vw 0.05vw rgba(255, 255, 255, 0.5), inset 0px 0.05vw 0.21vw rgba(0, 0, 0, 0.35), inset 0px -0.73vw 0.73vw rgba(255, 255, 255, 0.1);
  -webkit-animation: none;
  cursor: pointer !important;
}
.punch-position {
  top: 2.29vw;
  background-image: linear-gradient(180deg, #9b9b9b 0%, #f5f5f5 100%);
}
/**************************************************************************************/
/********************************Форма поиска******************************************/
#block-find {
  display: none;
  position: relative;
  width: 41.67vw;
  height: 31.25vw;
  border-radius: 2.87vw;
  background-color: rgba(226, 226, 226, 0.9);
  color: black;
  font-family: 'ArialMT';
  text-decoration: none;
  border: 1px solid black;
  margin: 0 auto;
  top: 2.5vw;
}
#block-find h3 {
  font-size: 1.375rem;
  font-family: 'ArialMT';
  font-weight: 900;
  text-align: center;
}
#block-find p {
  font-family: 'ArialMT';
  font-weight: 900;
  font-size: 1.125rem;
  margin-left: 5.2vw;
}
#find_text1 {
  border: 1px solid #5b7ea4;
  background-color: #ffffff;
  font-family: 'ArialMT';
  width: 36.46vw;
  height: 1.56vw;
  margin-left: 2.6vw;
  text-align: center;
  margin-bottom: 1.56vw;
}
#form_find--checkbox1,
#form_find--checkbox2 {
  display: none;
}
#testlb,
#testlb2 {
  color: #000;
  cursor: default;
  font-family: 'ArialMT';
  font-size: 1.125rem;
  font-weight: normal;
  line-height: 1.56vw;
  padding: 0.52vw 0;
  vertical-align: middle;
  margin-left: 6.25vw;
}
#testlb:before,
#testlb2:before {
  /* глифон - галочка */
  content: "\2714";
  color: #000;
  display: inline-block;
  /* шрифт Awesome*/
  font: 16px 'FontAwesome';
  margin-right: 0.78vw;
  position: relative;
  text-align: center;
  text-indent: 0px;
  width: 1.04vw;
  height: 1.04vw;
  background-color: #ffffff;
  border: 0.05vw solid #5b7ea4;
  border-image: initial;
  vertical-align: middle;
}
#testlb.err:before {
  border: 0.05vw solid red;
}
#testlb2.err:before {
  border: 0.05vw solid red;
}
input:checked + #testlb:before,
input:checked + #testlb2:before {
  content: " ";
}
.find-mon {
  width: 5.2vw;
  height: 1.56vw;
  text-align: center;
  border: 0.05vw solid #5b7ea4;
  font-family: 'ArialMT';
  font-size: 1rem;
  font-weight: normal;
}
.find-year {
  width: 4.17vw;
  height: 1.56vw;
  text-align: center;
  border: 0.05vw solid #5b7ea4;
  font-family: 'ArialMT';
  font-size: 1rem;
  font-weight: normal;
}
#find-first {
  margin-left: 7.8vw;
}
.find_width2 {
  width: 7.8vw;
  height: 1.56vw;
  border: 0.05vw solid #5b7ea4;
  font-family: 'ArialMT';
  /*text-align: center;*/
  outline: none;
  margin-left: 5.73vw;
  padding: 0 0.52vw;
}
.find_width3 {
  width: 18.23vw;
  height: 1.56vw;
  outline: none;
  margin-left: 5.73vw;
  padding: 0 0.52vw;
  /*text-align: center;    */
  font-family: 'ArialMT';
  border: 0.05vw solid #5b7ea4;
}
#fn-but {
  background-image: linear-gradient(180deg, #9b9b9b 0%, #f5f5f5 100%);
  top: 0.78vw;
}
/**************************Кнопка найти***********************************/
#bf1 {
  background-color: #FFFFFF;
  border: 0.05vw solid #CCCCCC;
  box-shadow: 0 0.05vw 0.05vw rgba(0, 0, 0, 0.075) inset;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  border-radius: 0.21vw;
  color: #555555;
  display: block;
  width: 6.25vw;
  margin: 1.04vw auto;
  font-size: 0.875rem;
  text-align: center;
  height: 1.04vw;
  line-height: 0px;
  margin-bottom: 0.52vw;
  padding: 0.21vw 0, 31vw;
  text-decoration: none;
  border-radius: 0.52vw;
  position: relative;
  top: 0;
}
#bf1:hover,
#bf1:focus {
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: 0 0.05vw 0.05vw rgba(0, 0, 0, 0.075) inset, 0 0 0.42vw rgba(82, 168, 236, 0.6);
  outline: 0 none;
  cursor: pointer;
}
/******************************************************************************/
.ret-position {
  position: absolute;
  float: left;
  left: 3.23vw;
  top: 43.8vw;
  background-image: linear-gradient(180deg, #9b9b9b 0%, #f5f5f5 100%);
}
/********************************Окно просмотра гнева***************************************/
.main-view {
  display: block;
  position: relative;
  top: 2.55vw;
  color: black;
  width: 78.96vw;
  height: 34.48vw;
  border: 0px solid #000000;
  font-size: 1rem;
  margin: 0 auto;
  padding: 0;
  z-index: 1;
}
.main-anger {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  color: black;
  width: 78.96vw;
  height: 32.76vw;
  font-size: 16px;
  margin: 0 auto;
  padding: 0;
  z-index: 1;
  border: 0px solid black;
}
.view-header {
  width: 100%;
  height: 3.75vw;
  /*    background-color: rgba(208,208,208,0.9);*/
  background-color: #ffffff;
  /*    opacity:0.9;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
.translate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 1.82vw;
  color: black;
  margin-left: 0.52vw;
  border-radius: 0.52vw;
  border: 0.05vw solid black;
  font-family: 'ArialMT';
  font-size: 1.25rem;
}
.translate:hover {
  cursor: pointer;
}
.container-pict1 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /*    opacity: 0.4;*/
}
.header4 {
  font-family: 'ArialMT';
  font-size: 2.25rem;
  text-shadow: 0px 0px 0px black;
  color: black;
}
.pic-mail {
  position: relative;
  margin-left: 0.26vw;
  width: 1.67vw;
  height: 1.67vw;
  /*    opacity: 0.4;*/
}
.pic-mail:hover {
  cursor: pointer;
}
.block-review4 {
  display: block;
  height: 6.51vw;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
.block-review4--dop {
  height: 100%;
  margin: 0;
  padding: 0;
}
.block-review4 span {
  display: block;
  font-family: 'ArialMT';
  font-size: 0.9375rem;
}
.block-review4 span:hover {
  cursor: default;
}
.spis-container {
  width: 78.96vw;
  height: 22.5vw;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  /*    background-color:white;*/
  background-color: #5b7ea4;
  /*    border:1px solid white;*/
  margin: 0;
  padding: 0;
}
.spis {
  width: 77.8vw;
  height: 22.5vw;
  background-color: white;
  overflow: hidden;
  font-family: 'ArialMT';
  font-size: 1rem;
  line-height: 1.09vw;
  margin: 0;
  /********Что бы не скакала заставка!!!!!!!!!************************/
  padding: 0;
  /********Что бы не скакала заставка!!!!!!!!!************************/
  /*Добавлено!!*/
  position: relative;
}
.text_page_2_2 {
  padding: 0;
  width: 100%;
  line-height: 1.46vw;
  color: #000000;
  text-align: justify;
  text-indent: 0;
  text-shadow: 0px 0px 0px #000000;
  user-select: none;
  /*Добавлено!!*/
  position: absolute;
  z-index: 200;
  margin-top: 0;
  margin-bottom: 0;
}
.text_page_2_2 span {
  display: block;
  padding: 0 0.52vw 0 1.56vw;
}
.text_review__main {
  color: black;
  font-family: 'ArialMT';
  font-size: 1rem;
  padding: 0.52vw;
  background-color: white;
}
.span_price {
  height: 2.08vw;
  line-height: 2.08vw;
  text-align: center;
  text-indent: 0;
  user-select: none;
  cursor: pointer;
}
.span_name {
  user-select: none;
}
.elements-container6 {
  position: relative;
  display: flex;
  width: 75.52vw;
  height: 4.27vw;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  margin: 0 auto;
  padding: 0;
}
.read-position {
  display: flex;
  background-image: linear-gradient(180deg, #9b9b9b 0%, #f5f5f5 100%);
  font-size: 1rem;
  width: 11.46vw;
  height: 3.33vw;
  margin: 0;
}
.place-position {
  display: flex;
  background-image: linear-gradient(180deg, #9b9b9b 0%, #f5f5f5 100%);
  font-size: 1rem;
  width: 11.46vw;
  height: 3.33vw;
  margin: 0;
}
#read_dop,
#place_dop,
#close_button_dop9,
#close_button__last2 {
  width: 9.48vw;
  height: 2.34vw;
}
.photo_main {
  width: 39.06vw;
  height: 4.17vw;
  border-radius: 1.04vw;
  background-image: linear-gradient(180deg, #9b9b9b 0%, #ffffff 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.photo {
  width: 5.63vw;
  height: 3.96vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc003;
  border-radius: 0.52vw;
  border: 0.1vw solid #5b7ea4;
  margin: 0 0.52vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.photo:hover {
  cursor: pointer;
}
.text-photo {
  font-size: 1.25rem;
}
.sl_photo {
  width: 4.69vw;
  height: 4.69vw;
}
.photo1_dop {
  width: 36.46vw;
  height: 4.17vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
#wrapper_left,
#wrapper_right,
#wrapper_left2,
#wrapper_right2 {
  display: none;
  justify-content: center;
  align-items: center;
  width: 2.6vw;
  height: 2.6vw;
  font-size: 1.875rem;
  color: #cacaca;
  user-select: none;
}
#wrapper_left:hover,
#wrapper_right:hover,
#wrapper_left2:hover,
#wrapper_right2:hover {
  cursor: pointer;
  user-select: none;
}
.view-big--photo {
  display: none;
  position: absolute;
  width: 30.73vw;
  height: 28.49vw;
  top: 3.75vw;
  background-size: cover;
  border: 5px solid #5b7ea4;
  z-index: 9999;
}
.close_button {
  display: block;
  width: 1.56vw;
  height: 1.56vw;
  position: relative;
  float: right;
  top: 0.05vw;
  right: 0.05vw;
  user-select: none;
}
.close_button:hover {
  cursor: pointer;
}
/*********************Кнокпа вперед*************************************************************/
.for-position {
  position: absolute;
  float: right;
  right: 3.23vw;
  top: 43.8vw;
  background-image: linear-gradient(180deg, #9b9b9b 0%, #f5f5f5 100%);
}
.none_button {
  display: flex;
  width: 4.84vw;
  height: 1.82vw;
  font-size: 1.125rem;
  padding: 0.21vw 0.78vw 0.37vw 0.78vw;
  color: black;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'ArialMT';
  font-style: normal;
  font-smoothing: antialiased;
  text-decoration: none;
  text-shadow: none;
  border-radius: 0.52vw;
  border-top: 0.05vw solid rgba(0, 0, 0, 0.001);
  border: 0.05vw solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0.52vw rgba(0, 0, 0, 0.35), 0px 0.05vw 0.16vw rgba(0, 0, 0, 0.18), inset 0px -0.16vw 0px rgba(0, 0, 0, 0.35), inset 0px 0.73vw 0.73vw rgba(255, 255, 255, 0.1);
  cursor: default;
  background-image: linear-gradient(180deg, #c0c0c0 0%, #ffffff 100%);
  opacity: 0.1;
  user-select: none;
}
.photo-position {
  position: relative;
  float: left;
  left: 57.29vw;
  top: -2.4vw;
  height: 3.33vw;
  background-image: linear-gradient(180deg, #9b9b9b 0%, #f5f5f5 100%);
}
#photo_button_dop6,
#photo_button_dop9 {
  height: 2.34vw;
}
.save-position {
  position: relative;
  top: 0.94vw;
  margin: 0 auto;
  font-size: 1rem;
  width: 11.46vw;
  height: 3.33vw;
  background-image: linear-gradient(180deg, #9b9b9b 0%, #f5f5f5 100%);
}
#save_dop6,
#save_dop7,
#save_dop15 {
  width: 9.48vw;
  height: 2.34vw;
  font-size: 1.06rem;
}
.view-header2 {
  width: 100%;
  height: 3.75vw;
  /*    background-color: rgba(208,208,208,0.9);*/
  background-color: #ffffff;
  /*    opacity: 0.9;*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.user_rebuttal {
  width: 77.6vw;
  height: 21.15vw;
  color: black;
  font-family: 'ArialMT';
  font-size: 1.06rem;
  padding: 0.52vw;
  line-height: 1.3vw;
  background-color: white;
  resize: none;
}
.user_rebuttal:active {
  outline: 0;
  outline-offset: 0;
}
.user_rebuttal:focus {
  outline: 0;
  outline-offset: 0;
}
.form_input {
  display: flex;
  justify-content: center;
  align-items: center;
}
#spis-container3 {
  justify-content: center;
  align-items: center;
}
#spis-container2 {
  justify-content: center;
  align-items: center;
}
#spis-container {
  justify-content: center;
  align-items: center;
}
#user_rebuttal2,
#user_rebuttal3 {
  user-select: none;
  line-height: 1.3vw;
  text-align: justify;
  -webkit-user-select: none;
}
#user_rebuttal2:hover,
#user_rebuttal3:hover {
  cursor: pointer;
}
.elements-container7 {
  position: relative;
  display: flex;
  width: 15.6vw;
  height: 22.29vw;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-right: -5.2vw;
  padding: 0;
}
.spis-container--photo {
  width: 78.96vw;
  height: 22.5vw;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /*    background-color:#5b7ea4;*/
  /*    background-color: rgba(91,126,164,0.9);*/
  background-color: rgba(226, 226, 226, 0.9);
  /*    background-color:white;*/
  margin: 0;
  padding: 0;
}
.button-container--photo {
  /*    height:370px;*/
  height: 22.5vw;
  width: 15.63vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: -5.21vw;
}
.input_file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.photo_main2 {
  width: 6.35vw;
  height: 22.3vw;
  border-radius: 1.04vw;
  /*    background-image:linear-gradient(180deg,#9b9b9b 0%,#ffffff 100%);*/
  background-image: linear-gradient(270deg, #9b9b9b 0%, #ffffff 100%);
  /*    background-color: #eeeeee;*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
}
.photo2_dop {
  width: 6.35vw;
  height: 22.29vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
}
.container-photo--big1 {
  display: none;
  width: 31.25vw;
  height: 22.24vw;
  border-radius: 1.04vw;
  position: absolute;
  left: -9999px;
}
#main-photo--center,
#main-photo--center12 {
  width: 36.46vw;
  height: 22.5vw;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.04vw;
  margin: 0;
}
#real-container--photo,
#real-container--photo12 {
  width: 31.25vw;
  height: 21.98vw;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
#canvas {
  display: none;
  opacity: 0;
  z-index: 0;
  position: absolute;
  left: -9999px;
}
.photo-text1 {
  font-family: 'ArialMT';
  font-size: 1.56rem;
  color: black;
  user-select: none;
  font-weight: bold;
  text-align: center;
  outline: none;
  cursor: pointer;
}
/*#photo-text1 {
        font-family: 'ArialMT';
        font-size: 25px;
        color:black;
        user-select: none;
        font-weight: bold;
        text-align: center;
    }*/
.photo-text1_10000 {
  background: linear-gradient(180deg, #7030a0 0%, #7a34ad 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  font-family: 'ArialMT';
  /*    font-family: 'Rubik One', sans-serif;*/
  /*    font-size: 30px;      */
  font-size: 1.56rem;
  font-weight: bold;
  user-select: none;
  text-align: center;
  display: table;
  cursor: pointer;
  outline: none;
}
.photo-text1_5000 {
  background: linear-gradient(180deg, #7a34ad 0%, #a50132 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  font-family: 'ArialMT';
  /*    font-family: 'Rubik One', sans-serif;*/
  /*    font-size: 30px;      */
  font-size: 1.56rem;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  text-align: center;
  display: table;
  outline: none;
}
.photo-text1_3000 {
  background: linear-gradient(180deg, #ab186c 0%, #d61239 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  font-family: 'ArialMT';
  /*    font-family: 'Rubik One', sans-serif;*/
  /*    font-size: 30px;      */
  font-size: 1.56rem;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  text-align: center;
  display: table;
  outline: none;
}
.photo-text1_2000 {
  background: linear-gradient(180deg, #da0545 0%, #ff0000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  font-family: 'ArialMT';
  /*    font-family: 'Rubik One', sans-serif;*/
  /*    font-size: 30px;      */
  font-size: 1.56rem;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  text-align: center;
  display: table;
  outline: none;
}
.photo-text1_1000 {
  background: linear-gradient(180deg, #ff0000 0%, #fb4f04 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  font-family: 'ArialMT';
  /*    font-family: 'Rubik One', sans-serif;*/
  /*    font-size: 30px;      */
  font-size: 1.56rem;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  text-align: center;
  display: table;
  outline: none;
}
.photo-text1_500 {
  background: linear-gradient(180deg, #fb4f04 0%, #a75503 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  font-family: 'ArialMT';
  /*    font-family: 'Rubik One', sans-serif;*/
  /*    font-size: 30px;      */
  font-size: 1.56rem;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  text-align: center;
  display: table;
  outline: none;
}
.photo-text1_300 {
  background: linear-gradient(180deg, #e87604 0%, #e47a2c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  font-family: 'ArialMT';
  /*    font-family: 'Rubik One', sans-serif;*/
  /*    font-size: 30px;      */
  font-size: 1.56rem;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  text-align: center;
  display: table;
  outline: none;
}
.photo-text1_100 {
  background: linear-gradient(180deg, #e47a2c 0%, #c9a71d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  font-family: 'ArialMT';
  /*    font-family: 'Rubik One', sans-serif;*/
  /*    font-size: 30px;      */
  font-size: 1.56rem;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  text-align: center;
  display: table;
  outline: none;
}
#wrapper_up3:hover,
#wrapper_down3:hover,
#wrapper_up12:hover,
#wrapper_down12:hover {
  cursor: pointer;
  user-select: none;
}
#block-email1 {
  width: 15.63vw;
  height: 12.76vw;
  position: relative;
  left: 1.04vw;
  border-radius: 1.56vw;
  border: 0.1vw solid #5b7ea4;
  text-align: center;
  font-family: 'ArialMT';
  font-size: 1rem;
  color: black;
}
.text-pay {
  text-align: center;
  font-family: 'ArialMT';
  font-size: 1.5rem;
  color: black;
  line-height: 2.08vw;
  font-weight: bold;
  cursor: default;
  user-select: none;
}
.spis-container8 {
  width: 78.96vw;
  height: 22.5vw;
  position: relative;
  background-color: rgba(226, 226, 226, 0.9);
  margin: 0;
  padding: 0;
}
.save-position2 {
  top: 0.57vw;
}
.close-position {
  top: 1.46vw;
}
.main-mail {
  width: 13.02vw;
  height: 1.56vw;
  font-family: 'ArialMT';
  font-size: 1rem;
  color: black;
  text-align: center;
  margin: 0 0 0.52vw 0;
}
.text-mail--dop {
  margin: 0.52vw 0;
  padding: 0;
  font-weight: bold;
  line-height: 1.56vw;
}
#price-field8 {
  position: absolute;
  left: 32.29vw;
  top: 11.3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5,2vw;
  height: 2.08vw;
  border: 1px solid black;
  border-radius: 0.52vw;
  color: red;
  font-family: 'ArialMT';
  font-size: 1.125rem;
  font-weight: bold;
  background-color: white;
}
#change-currency {
  position: absolute;
  left: 38.02vw;
  top: 11.3vw;
  width: 9.9vw;
  height: 2.08vw;
  border: 1px solid black;
  border-radius: 0.52vw;
  font-family: 'ArialMT';
  font-size: 1.125rem;
  color: black;
  outline: none;
  padding-left: 0.52vw;
}
#change-currency2 {
  font-size: 1rem;
}
.pay-position {
  top: -4.17vw;
}
#price-field8 {
  cursor: default;
}
#change-currency {
  cursor: pointer;
}
.last-position2 {
  display: flex;
  background-image: linear-gradient(180deg, #9b9b9b 0%, #f5f5f5 100%);
  font-size: 1rem;
  width: 11.46vw;
  height: 3.33vw;
  margin: 1.46vw 0 0 33.75vw;
}
#text-pay2 {
  position: relative;
  font-size: 1.75rem;
  top: 30%;
  cursor: default;
}
.spis-container9 {
  background-color: white;
}
#main-anger6 {
  display: block;
  background-color: white;
}
/*****************************************Блок размещения гнева***************************************/
.spis-container10 {
  width: 78.96vw;
  height: 29.01vw;
  position: relative;
  background-color: rgba(208, 208, 208, 0.9);
  margin: 0;
  padding: 0;
}
.name_anger {
  width: 77.6vw;
  height: 3.13vw;
  color: black;
  font-family: 'ArialMT';
  font-size: 1.06rem;
  padding: 0.52vw;
  line-height: 1.3vw;
  background-color: white;
  margin: 0;
  border: 0.16vw solid #5b7ea4;
  overflow: hidden;
}
.name_anger:active {
  outline: 0;
  outline-offset: 0;
}
.name_anger:focus {
  outline: 0;
  outline-offset: 0;
}
#name_anger2 {
  text-align: center;
  width: 77.7vw;
  resize: none;
}
.view-header10 {
  width: 100%;
  height: 3.75vw;
  background-color: rgba(208, 208, 208, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.header10 {
  font-family: 'ArialMT';
  font-size: 2.25rem;
  text-shadow: 0px 0px 0px black;
  color: black;
  margin: 0;
}
.header11 {
  font-family: 'ArialMT';
  font-size: 1.75rem;
  text-shadow: 0px 0px 0px black;
  color: black;
  text-align: center;
  margin: 0.21vw 0;
}
#text_anger {
  /*    margin-top:0px;*/
  border: 0.16vw solid #5b7ea4;
}
.photo-position10 {
  position: relative;
  float: left;
  top: 1.77vw;
  left: 44.79vw;
  height: 3.33vw;
  background-image: linear-gradient(180deg, #9b9b9b 0%, #f5f5f5 100%);
}
/******************************************Фото в слайдер праведного гнева**********************************/
.spis-container--photo12 {
  width: 78.96vw;
  height: 24.53vw;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(226, 226, 226, 0.9);
  margin: 0;
  padding: 0;
}
#canvas12 {
  display: none;
  opacity: 0;
  z-index: 0;
  position: absolute;
  left: -7777px;
}
/***************************************************************************************************/
/*************************Блок оплаты гнева*********************************************************/
#block-pay {
  background-color: rgba(226, 226, 226, 0);
  height: 32.81vw;
}
#form_pay {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  background-color: rgba(226, 226, 226, 0.9);
  font-size: 1.125rem;
  cursor: default;
}
.block-pay--dop {
  width: 30%;
}
#header13 {
  font-size: 1.5rem;
  text-align: center;
  height: 2%;
}
.pay-position3 {
  top: 3.44vw;
}
.block-pay--dop {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.block-pay--dop:first-child {
  width: 33%;
  justify-content: flex-start;
  margin-top: 4%;
  padding-left: 2%;
}
.block-pay--dop:last-child {
  width: 35%;
}
.pay-form--border {
  border-radius: 30px;
  border: 0.1vw solid #5b7ea4;
  height: 28%;
  width: 100%;
}
.pay-form--border:first-child {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.width-block--pay1 {
  width: 70%;
  height: 20%;
}
.pay-form--border:last-child {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pay-form--border:last-child p {
  margin-left: 0.52vw;
  /*    cursor: pointer;*/
}
#block-pay1 {
  line-height: 1.56vw;
}
#block-pay1 p {
  display: inline-block;
  width: 70%;
  padding-left: 1.04vw;
  user-select: none;
}
#block-pay1 input {
  width: 20%;
  height: 20%;
  right: 1.04vw;
  text-align: center;
  user-select: none;
  font-weight: 900;
  font-size: 1rem;
}
.pay-buttons {
  display: flex;
  justify-content: space-around;
  /*    align-items: center;*/
  align-items: flex-start;
}
#block-email2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}
#block-email2 input {
  width: 90%;
}
#block-pay--second {
  display: block;
}
#block-summa p {
  display: flex;
  width: 100%;
  height: 16.6%;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
}
#block-summa p:hover {
  font-size: 1.375rem;
}
#block-summa {
  display: none;
  height: 88%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 1.56vw;
  margin: 0;
  padding: 0;
}
#block-summa p:first-child {
  border-top-left-radius: 1.56vw;
  border-top-right-radius: 1.56vw;
}
#block-summa p:last-child {
  border-bottom-left-radius: 1.56vw;
  border-bottom-right-radius: 1.56vw;
}
.block-pay--first {
  height: 25%;
}
.block-pay--first:first-child {
  height: 40%;
}
#pay_p3 {
  width: 100%;
}
#text_block_p2_4 {
  margin-top: 0.52vw;
  margin-bottom: 0.52vw;
}
#text_block_p2_5 {
  margin-top: 0.26vw;
  margin-bottom: 0.52vw;
}
.block-pay--first:last-child {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.block-pay--dop p {
  font-family: 'ArialMT';
  font-weight: normal;
  font-size: 1.125rem;
}
#summa1 {
  display: flex;
  align-items: center;
  width: 5.21vw;
  height: 1.56vw;
  justify-content: center;
  cursor: pointer;
  margin-left: 20%;
  margin-right: 2%;
}
#form_pay select:hover {
  cursor: pointer;
}
#form_pay p {
  user-select: none;
}
#valueSumma {
  display: block;
  color: white;
}
#save13,
#save14 {
  width: 8.87vw;
}
#save_dop13,
#save_dop14 {
  width: 8.55vw;
}
.block_review10000_3 {
  background-image: linear-gradient(180deg, #7030a0 0%, #822a8c 100%);
  opacity: 1;
}
.block_review5000_3 {
  background-color: #cc1139;
  background-image: linear-gradient(180deg, #872887 0%, #a81d62 100%);
  opacity: 1;
}
.block_review3000_3 {
  background-color: #f51802;
  background-image: linear-gradient(180deg, #ac1c5d 0%, #cd1138 100%);
  opacity: 1;
}
.block_review2000_3 {
  background-color: #dd4602;
  background-image: linear-gradient(180deg, #d11034 0%, #f2040f 100%);
  opacity: 1;
}
.block_review1000_3 {
  background-color: #e79a30;
  background-image: linear-gradient(180deg, #f5030b 0%, #f8360f 100%);
  /*    opacity:0.9;*/
  opacity: 1;
}
.block_review500_3 {
  background-color: #b17704;
  background-image: linear-gradient(180deg, #f83e11 0%, #f18229 100%);
  /*    opacity:0.9;*/
  opacity: 1;
}
.block_review300_3 {
  background-color: #a77a04;
  background-image: linear-gradient(180deg, #f18229 0%, #edbb46 100%);
  /*    opacity:0.9;*/
  opacity: 1;
}
.block_review100_3 {
  background-color: #8c8404;
  background-image: linear-gradient(180deg, #ecbd47 0%, #ebe262 100%);
  /*    opacity:0.9;*/
  opacity: 1;
}
#mainWindow3 {
  display: block;
}
#mainWindow3 p:hover {
  cursor: pointer;
}
.modalWindow {
  display: none;
  justify-content: flex-start;
  align-items: center;
  width: 98%;
  height: 95%;
  position: relative;
  overflow: hidden;
  border: 0.1vw solid black;
  border-radius: 1.56vw;
  background-color: white;
  opacity: 1;
  cursor: default;
}
.modalWindow p {
  font-family: 'ArialMT';
  font-size: 0.75rem;
}
.modalWindow-container {
  width: 96%;
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'ArialMT';
  font-size: 0.75rem;
  background-color: white;
  padding-right: 2%;
  opacity: 1;
  user-select: none;
  text-align: justify;
  text-indent: 1.04vw;
  cursor: default;
}
.butWindow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.8vw;
  height: 1.04vw;
  position: relative;
  margin: 0 auto;
  padding: 0;
  background-color: #cccccc;
  border: 0.05vw solid black;
  border-radius: 0.26vw;
}
.butWindow:hover {
  cursor: pointer;
  color: white;
}
.butWindow span {
  margin: 0;
  padding: 0;
  font-family: 'ArialMT';
  font-size: 0.75rem;
}
.modalWindow-container ul {
  padding-inline-start: 0.52vw;
  list-style-type: none;
  text-indent: -0.26vw;
}
.modalWindow-container h4 {
  font-size: 1rem;
  text-align: center;
}
.modalWindow-container h5 {
  font-size: 0.875rem;
  text-align: center;
}
.modalWindow-container ul > li:before {
  content: "-";
  text-indent: -0.26vw;
  padding: 0 0.26vw;
}
.spis-container--last {
  background-color: white;
}
#main-anger--last {
  display: block;
  background-color: white;
}
#close_button__last2 {
  font-size: 1.06rem;
}
#anger-post {
  display: flex;
}
#name_anger,
#text_anger {
  resize: none;
}
.hide_all_photo {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
}
.span_price a, .span_name a {
  text-decoration: none;
  color: white;
}

/***************************************************************************************************/
/**********************************************************************************************/
/*Эфеект для всех кнопок*/
@-webkit-keyframes glow {
  0% {
    box-shadow: 0 0 0.52vw rgba(0, 0, 0, 0.35), 0px 0.05vw 0.16vw rgba(0, 0, 0, 0.18), inset 0px -0.16vw 0px rgba(0, 0, 0, 0.35), inset 0px 0.73vw 0.73vw rgba(255, 255, 255, 0.35);
  }
  100% {
    box-shadow: 0 0 0.52vw rgba(0, 0, 0, 0.35), 0px 0.05vw 0.16vw rgba(0, 0, 0, 0.18), inset 0px -0.16vw 0px rgba(0, 0, 0, 0.35), inset 0px 0.73vw 0.73vw rgba(255, 255, 255, 0.18);
  }
}
