{% extends "main/index.html" %}


{% block title %}Сброс пароля{% endblock %}

{% block content %}
<div class="main-form--screen">
    <h3 class="form-header">СБРОС ПАРОЛЯ</h3>
    <h4 class="form-header">На адрес электронной почты пользователя будет отправлено уведомление о смене пароля</h4>
    <form class="form-flex" method="post">
        {% csrf_token %}
        {% for field in form %}
            {{ field }}
            {% if field.errors %}
                <p class="form-text">{{ field.errors }}</p>
            {% endif%}
        {% endfor%}
         <div class="punch-form" id="button2-form--position">
            <input type="submit" class="punch-button--form" id="fn-but_dop" value="Сбросить">
        </div>
        <h5>Для получения уведомления в настройках почты <br> разрешите доступ непроверенным приложениям</h5>
    </form>
</div>
{% endblock %}
