{% extends "authorization/profile.html" %}


{% block title %}Ввод нового пароля{% endblock %}

{% block area %}
<div class="main-form--screen">
    <h3 class="form-header">СМЕНА ПАРОЛЯ</h3>
    <form class="form-flex" method="post">
        {% csrf_token %}
        {% for field in form %}
            <p class="form-text">{{ field.label }}</p>
            {{ field }}
            {% if field.errors %}
                <p class="form-text">{{ field.errors }}</p>
            {% endif%}
        {% endfor%}
         <div class="punch-form" id="button2-form--position">
            <input type="submit" class="punch-button--form" id="fn-but_dop" value="Сохранить">
        </div>
    </form>
</div>
{% endblock %}
