{% extends "authorization/profile.html" %}
{% load thumbnail %}


{% block area %}
<div class="main-profile-window">
<h2 id="name-profile-window">Мой ПРАВДЕНЫЙ ГНЕВ: {{ rev.title|title }}</h2>
<hr>
    <div style="background-color: white; width: 1000px; margin: auto;">
        <h3>{{ rev.title }}</h3>
        <div>{{ rev.content }}</div>
        {% for img in img_set %}
            <img class="main-review-image" src="{% thumbnail img.image 'default' %}" alt="">
        {% endfor %}
        <p>Стоимость: {{ rev.price }} руб.</p>
        <p>{{ rev.author }} - {{ rev.created_at }}</p>
        <div style="background-color: orange; width: 1000px; margin: auto;">
            {% if not rev.is_paid %}
                <p>Ваш Праведный гнев еще не оплачен, он не виден другим пользователям</p>
                <p><a href="{% url 'payment:get_payment_form' pk=rev.pk %}">Оплатить</a></p>
            {% endif %}
            <p><a href="{% url 'ReviewApp:rev_prof_rebuttals_on_me' pk=rev.pk %}">Список опровержений</a></p>
            <p><a href="{% url 'ReviewApp:rev_prof_delete' pk=rev.pk %}">Удалить отзыв(на общих основаниях)</a></p>

        </div>
    </div>
</div>

{% endblock %}